$black:#000000;
$white:#ffffff;
$blue:#29406B;
$background:#F5F0E8;
$teal:#3BA3AB;
$orange:#FF9600;
$red:#E24E40;
$yellow:#FF9600;

$transition: all 0.2s ease-in;
$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

